*DS_Store
*example.sqlite
go.sum
*.docx
*.txt

# Swift
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
*.swiftpm/xcode/package.xcworkspace/xcuserdata/
DerivedData/
.build/
*.resolved
*.generated.swift

# Golang
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum
vendor/

# Java
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
target/
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# Kotlin
*.kt.class
*.kotlin_module

# JavaScript/TypeScript
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tgz
*.tar.gz
.cache/
.parcel-cache/
dist/
coverage/
.nyc_output/
.eslintcache
*.tsbuildinfo

# C#
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
packages/
TestResults/
[Rr]elease*/
[Dd]ebug*/
[Bb]in/
[Oo]bj/